<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Category: <%= @event.category %></p>
    <p>Price: $<%= @event.price %></p>
    <p>Max visitors: <%= @event.capacity %> <%= @event.capacity > 1 ? "People" : "Person" %></p>
    <p>Starts at: <%= @event.starts_at.to_formatted_s(:short) %></p>
    <p>Finishes at: <%= @event.ends_at.to_formatted_s(:short) %></p>

    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <!-- Amenities -->
    <h4>Amenities</h4>
    <ul class="amenities">
      <p>Includes food: <%= @event.includes_food ? "Yes" : "No"%></p>
      <p>Includes drinks: <%= @event.includes_drinks ? "Yes" : "No"%></p>

    </ul>

    <!-- Themes -->
    <h4>Themes</h4>
    <% @themes.each do |theme| %>
      <span class="label label-success"><%= theme.name %></span>
    <% end %>
  </div>
</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
